if loadfont /boot/grub/fonts/unicode.pf2; then
    set gfxmode=1920x1080,auto
    load_video
    insmod gfxterm
    insmod vbe
    insmod jpeg
    insmod png
    terminal_output gfxterm
fi

set background_color=black
if background_image /boot/grub/bilimos-grub.png; then
    true
fi

set menu_color_normal=white/black
set menu_color_highlight=black/light-gray

set default=0
set timeout=5

menuentry "BilimOS 1.0 Live" --class bilimos --class gnu-linux --class gnu --class os {
    linux   /live/vmlinuz boot=live components quiet splash
    initrd  /live/initrd.img
}

menuentry "BilimOS 1.0 Live (безопасный режим)" --class bilimos --class gnu-linux {
    linux   /live/vmlinuz boot=live components nomodeset
    initrd  /live/initrd.img
}

menuentry "BilimOS 1.0 Live (с проверкой RAM)" --class bilimos --class gnu-linux {
    linux   /live/vmlinuz boot=live components memtest
    initrd  /live/initrd.img
}

if [ "${grub_platform}" = "efi" ]; then
    menuentry "UEFI Firmware Settings" --class settings {
        fwsetup
    }
fi
