UI vesamenu.c32

MENU TITLE BilimOS 1.0 "Ziyat"
MENU BACKGROUND bilimos-splash.png
MENU COLOR TITLE      37;40   #ffE94560 #00000000 none
MENU COLOR SEL        30;47   #ff000000 #ffe94560 none
MENU COLOR BORDER     30;44   #ff333333 #00000000 none
MENU COLOR HEADER     30;44   #ffe94560 #00000000 none
MENU COLOR TABMSG     31;40   #ff888888 #00000000 none
MENU COLOR CMDMARK    31;40   #ffff8844 #00000000 none
MENU COLOR DISABLED   31;40   #ff555555 #00000000 none
MENU COLOR SCROLLBAR  30;44   #ff555555 #00000000 none
MENU COLOR TIMEOUT    1;37;40 #ffe94560 #00000000 none
MENU COLOR TIMEOUT_MSG 37;40  #ffaaaaaa #00000000 none

TIMEOUT 50
TOTALTIMEOUT 6000

DEFAULT live

LABEL live
  MENU LABEL BilimOS 1.0 — Запустить без установки
  KERNEL /live/vmlinuz
  APPEND initrd=/live/initrd.img boot=live components quiet splash

LABEL live-safe
  MENU LABEL BilimOS 1.0 — Безопасный режим
  KERNEL /live/vmlinuz
  APPEND initrd=/live/initrd.img boot=live components nomodeset

LABEL install
  MENU LABEL Установить BilimOS на диск
  KERNEL /live/vmlinuz
  APPEND initrd=/live/initrd.img boot=live components quiet splash bilimos-installer-autostart

LABEL memtest
  MENU LABEL Проверка памяти (Memtest86+)
  KERNEL /live/memtest

LABEL reboot
  MENU LABEL Перезагрузка
  COM32 reboot.c32

LABEL halt
  MENU LABEL Выключение
  COM32 poweroff.c32
